{% extends "base.html" %}
{% load comments %}
{% load tinymce_tags %}
{% block content %}

<div class="resources">
	        <div class="resources">
	        <h3> Artikel Tentang Programming Python</h3>
	  
           <!-- Posts  -->
        <ul>
            {% for aplikasi in aplikasi.object_list %}
                <div class="title"><h2>{{ aplikasi.nama }}</h2></div>
                <ul>
                    <div class="developer">{{ aplikasi.developer }}</div>
                    <div class="deskripsi">{{ aplikasi.deskripsi|linebreaks }}</div>
                          <a href="{{ aplikasi.url }}">Link GitHub</a>                        
                    <div class ="tanggal">{{ aplikasi.tanggal }}</div>
                </ul>
            {% endfor %}
        </ul>
          
        <!-- Next/Prev page links  -->
        {% if aplikasi.object_list and aplikasi.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if aplikasi.has_previous %}
                    <a href= "?page={{ aplikasi.previous_page_number }}">Postingan Baru &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ aplikasi.number }} of {{ aplikasi.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ aplikasi.next_page_number }}"> &gt;&gt; Postingan Lama</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>
{% endblock %}  
